blinker==1.8.2
certifi==2024.7.4
cftime==1.6.4
charset-normalizer==3.3.2
click==8.1.7
cycler==0.12.1
Flask==3.0.3
Flask-Cors==5.0.0
fonttools==4.54.1
h5py==3.11.0
idna==3.10
importlib_metadata==8.4.0
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.7
matplotlib==3.7.5
mysql-connector-python==9.0.0
netCDF4==1.7.1.post2
numpy==1.26.4
pyvista==0.42.3
psipy==0.3.0
scipy==1.12.0
werkzeug==3.0.3
